.register-background {
    background: linear-gradient(to bottom right, #36b1a5, #0a5f66);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.register-container {
  background-color: #1e233a; /* updated background color */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* updated box shadow */
  color: #fff; /* updated text color */
}

.register-card {
  padding: 20px;
}

.register-button {
  width: 100%;
  margin-top: 20px;
  background: #083634; /* updated background color */
  border: none;
  font-weight: bold; /* updated font weight */
}

.register-button:hover {
  background: #083f28; /* updated hover background color */
}

.input-group-text {
  background: #2d2d44; /* updated background color */
  border: none;
  color: #fff; /* updated text color */
}

.form-control {
  background: #2d2d44; /* updated background color */
  border: none;
  color: #fff; /* updated text color */
}

.form-control:focus {
  box-shadow: none;
}

.avatar-img {
  width: 50px;
  margin-top: -20px;
  border-radius: 50%;
  border: 3px solid #fff;
}

.forgot-password {
  color: #0a4649;
}

.forgot-password:hover {
  color: #0072ff;
}